:root {
    --text-color: rgba(62 62 62 / 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > footer{
	margin:0px;
	padding:0px;
	min-width:100%;
	max-width:100%;
	height:auto;
}

html {
	scroll-padding-top: 60px;
}

body {
    background-color: #F5F5F5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
}

p {
    font-family: 'Epilogue', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover, i:hover {
    color: #a1a1a1;
}

.btn-primary:hover {
    /* background-color: #0b5ed7; */
    /* border-color: #0a58ca; */
    /* border: 2px solid #0a58ca; */
    /* transition: border 1s; */
    transform: scale(1.1);
    transition: transform 0.2s;
}

.btn:focus {
    box-shadow: 0 0 0 0;
    opacity: 0.8;
}

.btn {
    background: linear-gradient(0deg, #000C80 0%, #00021A 100%);
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

a.btn {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar {
    background: linear-gradient(0deg, #000C80 0%, #00021A 100%);
}



.hero-title {
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 0.9;
}

.line::before {    
    content: '';
    width: 170px;
    height: 15px;
    background-color: rgba(0 12 128 / 50%);
    display: block;
    position: relative;
    top: 85px;
    left: 236px;
}

@media screen and (max-width: 472px) {
    .hero-title {
        font-size: 4.5rem;
    }

    .line::before {
        display: none;
    }
}

.hero-subtitle {
    font-size: 32px;
}

.hero-text {
    font-size: 20px;
}




.project-title {
    font-size: 5rem;
    color: #fff;
}

.project-title::before {    
    content: '';
    width: 170px;
    height: 15px;
    background-color: rgba(0 12 128 / 50%);
    display: block;
    position: relative;
    top: 85px;
    left: 45px;
}

/*#projects::after {
    content: "";
    display: block;
    width: 100%;
    height: 600px;
    background: linear-gradient(0deg, #000C80 0%, #00021A 100%);
    position: relative;
    margin-top: -50vh;
    z-index: -1;

}*/

#projects {
  background: linear-gradient(0deg, #000C80 0%, #00021A 100%);
  padding-bottom: 60px;
}

/*@media screen and (max-width: 992px) {
    #projects::after {
        content: "";
        display: block;
        width: 100%;
        height: 600px;
        background: linear-gradient(0deg, #000C80 0%, #00021A 100%);
        position: relative;
        margin-top: -100vh;
        z-index: -1;
    }

    #contact {
        position: relative;
        margin-top: 35vh!important;
    }
}*/

.card {
    border-radius: 15px;
    width: 25rem;
    height: 100%;
    background: linear-gradient(0deg, rgb(100, 102, 127) 0%, rgb(65, 72, 138) 100%);
    color: #fff;
}

.card-title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body ul li {
    display: inline-flex;    
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 10px;
    min-width: 81px;
    justify-content: center;
}

.card-body ul li:nth-child(2) {
    margin: 0 10px;
}

.card-body ul {
    margin-left: 0;
    padding-left: 0;
}



.contact-title {
    font-size: 5rem;
}

.contact-title::before {    
    content: '';
    width: 150px;
    height: 15px;
    background-color: rgba(0 12 128 / 50%);
    display: block;
    position: relative;
    top: 85px;
    left: 38px;
}

.form-label {
    font-family: 'Epilogue', sans-serif;
}

footer {
    background: linear-gradient(0deg, #000C80 0%, #00021A 100%);
    padding: 20px;
    color: #fff;
}

.footer-links {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    margin: 0 auto;
}

.footer-links li:nth-child(2) {
    margin: 0 20px;
}
